<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.david.bgwfanspaid"
          android:versionCode="12"
          android:versionName="2.1.2">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
            android:name="com.david.bgwfanspaid.MAPS_RECEIVE"
            android:protectionLevel="signature" />
    <uses-permission android:name="com.david.bgwfanspaid.permission.MAPS_RECEIVE"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
            android:label="BGWFans Pro"
            android:icon="@drawable/iconv2"
            android:logo="@drawable/bgwhite"
            android:theme="@style/Theme.Bgwfans2"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:largeHeap="true">

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAz1TiujG7GbWK9TCcApqdhK-eTaa3g-Z4"/>
        <uses-library android:name="com.google.android.maps"/>

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity
                android:name="com.david.bgwfanspaid.NewMainActivity"
                android:alwaysRetainTaskState="true"
                android:screenOrientation="portrait"
                android:uiOptions="splitActionBarWhenNarrow">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- This allows for the app to pick up on any links of the site, and add as an option to open with the app instead of with a browser -->
        </activity>

        <!-- Yes this area is a mess. Will be cleaned up before too long -->
        <activity android:name="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.hos.hosBitten" />
        <activity android:name="com.david.bgwfanspaid.hos.hosThirteen" />
        <activity android:name="com.david.bgwfanspaid.hos.hosCatacombs" />
        <activity android:name="com.david.bgwfanspaid.hos.hosDeadLine" />
        <activity android:name="com.david.bgwfanspaid.hos.hosRoot" />
        <activity android:name="com.david.bgwfanspaid.hos.hosCove" />
        <activity android:name="com.david.bgwfanspaid.hos.hosDig" />
        <activity android:name="com.david.bgwfanspaid.hos.hosFiends" />
        <activity android:name="com.david.bgwfanspaid.hos.hosNightBeats" />
        <activity android:name="com.david.bgwfanspaid.hos.hosRipper" />
        <activity android:name="com.david.bgwfanspaid.hos.hosVampire" />
        <activity android:name="com.david.bgwfanspaid.hos.hosDemon" />
        <activity android:name="com.david.bgwfanspaid.hos.hosPorts" />
        <activity android:name="com.david.bgwfanspaid.hos.hosBlood" />
        <activity android:name="com.david.bgwfanspaid.hos.hosGallery" />
        <activity android:name="com.david.bgwfanspaid.hos.hosFright" />
        <activity android:name="com.david.bgwfanspaid.hos.hosDemonDrinks" />
        <activity android:name="com.david.bgwfanspaid.hos.hosPbar" />
        <activity android:name="com.david.bgwfanspaid.hos.hosInoc" />
        <activity android:name="com.david.bgwfanspaid.hos.hosCasket" />

        <!-- roller coasters -->
        <activity android:name="com.david.bgwfanspaid.Verbolten"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.VBolt"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Griffon"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Apollo"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Alpen"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.LochNess"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Grover"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>

        <!-- flat rides -->
        <activity android:name="com.david.bgwfanspaid.DarKastle"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.EITA"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Mach"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.AutoBahn"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Cradle"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.FlyingMachine"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Wirbelwind"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.TradeWind"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Catapult"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Delight"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Ram"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>

        <!-- water rides -->
        <activity android:name="com.david.bgwfanspaid.Rapids"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Pompeii"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Flume"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>

        <!-- transportation attractions -->
        <activity android:name="com.david.bgwfanspaid.Train"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Skyride"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>
        <activity android:name="com.david.bgwfanspaid.Cruise"
                  android:parentActivityName="com.david.bgwfanspaid.Attractions"/>

        <!-- shows -->
        <activity android:name="com.david.bgwfanspaid.Barrel"
                  android:parentActivityName="com.david.bgwfanspaid.HOS_Shows"/>
        <activity android:name="com.david.bgwfanspaid.Celtic"
                  android:parentActivityName="com.david.bgwfanspaid.HOS_Shows"/>
        <activity android:name="com.david.bgwfanspaid.Mix"
                  android:parentActivityName="com.david.bgwfanspaid.HOS_Shows"/>
        <activity android:name="com.david.bgwfanspaid.Pets"
                  android:parentActivityName="com.david.bgwfanspaid.HOS_Shows"/>
        <activity android:name="com.david.bgwfanspaid.Entwined"
                  android:parentActivityName="com.david.bgwfanspaid.HOS_Shows"/>

        <!-- eateries -->
        <activity android:name="com.david.bgwfanspaid.Festhaus"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Smokehouse"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Piazza"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Grille"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Cucina"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Pub"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Grill"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Bier"
                  android:parentActivityName="com.david.bgwfanspaid.Eateries"/>

        <!-- special event (Food and Wine) -->
        <activity android:name="com.david.bgwfanspaid.EventInfo"/>
        <activity android:name="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Austria"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Canada"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.France"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Germany"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Greece"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Italy"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Scandinavia"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Scotland"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.Spain"
            	  android:parentActivityName="com.david.bgwfanspaid.EventAttractions"/>
        <activity android:name="com.david.bgwfanspaid.EventMap"/>


        <activity android:name="com.david.bgwfanspaid.Shows"/>
        <activity android:name="com.david.bgwfanspaid.Eateries"/>
        <activity android:name="com.david.bgwfanspaid.Coasters"/>
        <activity android:name="com.david.bgwfanspaid.MapScreen"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name="com.david.bgwfanspaid.ParkMap"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name="com.david.bgwfanspaid.HOS_Houses"/>
        <activity android:name="com.david.bgwfanspaid.HOS_Deadline"/>
        <activity android:name=".hos.HOS_Shows"/>
        <activity android:name="com.david.bgwfanspaid.HOS_Features"/>
        <activity android:name="com.david.bgwfanspaid.HOS_Map"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name="com.david.bgwfanspaid.BGWFans">
        </activity>
        <activity android:name="com.david.bgwfanspaid.ChatRoom"/>
        <activity android:name="com.david.bgwfanspaid.Forums"/>
        <activity android:name="com.david.bgwfanspaid.Wiki"/>
        <activity android:name="com.david.bgwfanspaid.HiddenWiki"
                  android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="bgwfans.com"/>
                <data android:scheme="http" android:host="www.bgwfans.com"/>
                <data android:scheme="http" android:host="parkfans.net"/>
                <data android:scheme="http" android:host="www.parkfans.net"/>
            </intent-filter>
        </activity>
        <activity android:name="com.david.bgwfanspaid.Settings"/>
        <activity android:name="com.david.bgwfanspaid.About"/>
        <activity android:name="com.david.bgwfanspaid.Mistletoe"/>
        <activity android:name="com.david.bgwfanspaid.Polar"/>
        <activity android:name="com.david.bgwfanspaid.Palace"/>
        <activity android:name="com.david.bgwfanspaid.XmasInfo"/>
        <activity android:name="com.david.bgwfanspaid.BaseActivity"/>
    </application>
</manifest>