<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.david.bgwfans"
          android:versionCode="18"
          android:versionName="2.4.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Minimum permissions for Beyondar -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For beyondar this is not mandatory unless you want to load something from internet (for instance images) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  BeyondAR needs the following features-->
    <uses-feature android:glEsVersion="0x00020000" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false"/>

    <permission
            android:name="com.david.bgwfans.MAPS_RECEIVE"
            android:protectionLevel="signature" />
    <uses-permission android:name="com.david.bgwfans.permission.MAPS_RECEIVE"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
            android:label="BGWFans"
            android:icon="@drawable/iconv2"
            android:logo="@drawable/bgwhite"
            android:theme="@style/Theme.Bgwfans2"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:largeHeap="true">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAz1TiujG7GbWK9TCcApqdhK-eTaa3g-Z4"/>
        <uses-library android:name="com.google.android.maps"/>

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <receiver android:name="com.david.bgwfans.widget.HOSWidget" android:label="BGWFans" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/hos_widget" />
        </receiver>

        <activity
                android:name="com.david.bgwfans.NewMainActivity"
                android:alwaysRetainTaskState="true"
                android:uiOptions="splitActionBarWhenNarrow">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".Bgw3dActivity" />
        <activity android:name=".ArticleActivity" />
        <!-- Yes this area is a mess. Will be cleaned up before too long -->
        <activity android:name="com.david.bgwfans.Attractions"/>
        <activity android:name=".hos.hosBitten" />
        <activity android:name=".hos.hosThirteen" />
        <activity android:name=".hos.hosCatacombs" />
        <activity android:name=".hos.hosDeadLine" />
        <activity android:name=".hos.hosRoot" />
        <activity android:name=".hos.hosCove" />
        <activity android:name=".hos.hosDig" />
        <activity android:name=".hos.hosFiends" />
        <activity android:name=".hos.hosNightBeats" />
        <activity android:name=".hos.hosRipper" />
        <activity android:name=".hos.hosVampire" />
        <activity android:name=".hos.hosDemon" />
        <activity android:name=".hos.hosPorts" />
        <activity android:name=".hos.hosBlood" />
        <activity android:name=".hos.hosGallery" />
        <activity android:name=".hos.hosFright" />
        <activity android:name=".hos.hosDemonDrinks" />
        <activity android:name=".hos.hosPbar" />
        <activity android:name=".hos.hosInoc" />
        <activity android:name=".hos.hosCasket" />
        <activity android:name=".hos.hosPlank" />

        <activity android:name=".xmas.attractions.HolidayHills" />
        <activity android:name=".xmas.attractions.MistletoeMarketplace" />
        <activity android:name=".xmas.attractions.IcePalace" />
        <activity android:name=".xmas.attractions.PolarPathway" />
        <activity android:name=".xmas.attractions.SantaWorkshop" />
        <activity android:name=".xmas.attractions.HighlandStables" />

        <activity android:name=".xmas.shows.DeckTheHalls" />
        <activity android:name=".xmas.shows.Gloria" />
        <activity android:name=".xmas.shows.Miracles" />
        <activity android:name=".xmas.shows.Otann" />

        <!-- roller coasters -->
        <activity android:name=".attractions.coasters.Verbolten" />
        <activity android:name=".attractions.coasters.VBolt" />
        <activity android:name=".attractions.coasters.Griffon" />
        <activity android:name=".attractions.coasters.Apollo" />
        <activity android:name=".attractions.coasters.Alpen" />
        <activity android:name=".attractions.coasters.LochNess" />
        <activity android:name=".attractions.coasters.Grover" />

        <!-- flat rides -->
        <activity android:name=".attractions.flats.DarKastle"/>
        <activity android:name=".attractions.flats.EITA"/>
        <activity android:name=".attractions.flats.Mach"/>
        <activity android:name=".attractions.flats.AutoBahn"/>
        <activity android:name=".attractions.flats.Cradle"/>
        <activity android:name=".attractions.flats.FlyingMachine"/>
        <activity android:name=".attractions.flats.Wirbelwind"/>
        <activity android:name=".attractions.flats.TradeWind"/>
        <activity android:name=".attractions.flats.Catapult"/>
        <activity android:name=".attractions.flats.Delight"/>
        <activity android:name=".attractions.flats.Ram"/>

        <!-- water rides -->
        <activity android:name=".attractions.flats.Rapids"/>
        <activity android:name=".attractions.water.Pompeii"/>
        <activity android:name=".attractions.water.Flume"/>

        <!-- transportation attractions -->
        <activity android:name=".attractions.additional.Train"/>
        <activity android:name=".attractions.additional.Skyride"/>
        <activity android:name=".attractions.additional.Cruise"/>

        <!-- shows -->
        <activity android:name=".shows.Barrel"/>
        <activity android:name=".shows.Celtic"/>
        <activity android:name=".shows.Mix"/>
        <activity android:name=".shows.Pets"/>
        <activity android:name=".shows.Entwined"/>
        <activity android:name=".shows.TIO"/>

        <!-- eateries -->
        <activity android:name=".eateries.Festhaus"/>
        <activity android:name=".eateries.Smokehouse"/>
        <activity android:name=".eateries.Piazza"/>
        <activity android:name=".eateries.Grille"/>
        <activity android:name=".eateries.Cucina"/>
        <activity android:name=".eateries.Pub"/>
        <activity android:name=".eateries.Grill"/>
        <activity android:name=".eateries.Bier"/>

        <!-- special event (Food and Wine) -->
        <activity android:name=".food_wine.EventInfo"/>
        <activity android:name=".food_wine.EventAttractions"/>
        <activity android:name=".food_wine.Austria"/>
        <activity android:name=".food_wine.Canada"/>
        <activity android:name=".food_wine.France"/>
        <activity android:name=".food_wine.Germany"/>
        <activity android:name=".food_wine.Greece"/>
        <activity android:name=".food_wine.Italy"/>
        <activity android:name=".food_wine.Scandinavia"/>
        <activity android:name=".food_wine.Scotland"/>
        <activity android:name=".food_wine.Spain"/>
        <activity android:name=".food_wine.EventMap"/>




        <activity android:name="com.david.bgwfans.Shows"/>
        <activity android:name=".fragments.Eateries"/>
        <activity android:name="com.david.bgwfans.Coasters"/>
        <activity android:name="com.david.bgwfans.MapScreen"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".fragments.ParkMap"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name="com.david.bgwfans.HOS_Houses"/>
        <activity android:name="com.david.bgwfans.HOS_Deadline"/>
        <activity android:name=".hos.HOS_Shows"/>
        <activity android:name="com.david.bgwfans.HOS_Features"/>
        <activity android:name="com.david.bgwfans.HOS_Map"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".fragments.BGWFans">
        </activity>
        <activity android:name=".webviews.ChatRoom"/>
        <activity android:name=".fragments.Forums"/>
        <activity android:name=".webviews.Wiki"/>
        <activity android:name=".webviews.HiddenWiki"
                  android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="bgwfans.com"/>
                <data android:scheme="http" android:host="www.bgwfans.com"/>
                <data android:scheme="http" android:host="parkfans.net"/>
                <data android:scheme="http" android:host="www.parkfans.net"/>
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Settings"/>
        <activity android:name=".fragments.About"/>
        <activity android:name="com.david.bgwfans.Mistletoe"/>
        <activity android:name="com.david.bgwfans.Polar"/>
        <activity android:name="com.david.bgwfans.Palace"/>
        <activity android:name=".xmas.cards.XmasInfo"/>
        <activity android:name=".BaseActivity"/>
        <service android:name=".geofence.ReceiveTransitionsIntentService" android:exported="false"></service>
    </application>
</manifest>